  <div class="container-body-color">
    <div class="container">
      <div align="center">
        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
    
        <div class="row border rounded row-color">
          <div class="col-md-12"><br></div>
    
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h4>{{ $.Title }}</h4><hr>
          </div>
          <div class="col-md-1"></div>
    
          <div class="col-md-12"><br></div>
    
          <div class="col-md-1"></div>
          <div class="col-md-10 text-left">
            {{ $.Content }}
          </div>
          <div class="col-md-1"></div>
    
          <div class="col-md-12"><br></div>
        </div>
    
        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
      </div>
    </div>
  </div>
