  <div class="container-body-color">
    <div class="container">
      <div align="center">
        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
    
        <div class="row border rounded row-color">
          <div class="col-md-12"><br></div>
    
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h4>{{ $.Title }}</h4><hr>
          </div>
          <div class="col-md-2"></div>
    
          <div class="col-md-12"><br></div>
    
          <div class="col-md-2"></div>
          <div class="col-md-8 text-left">
            <div align="center">
              Please contact your system administrator and tell them this:<br>
              <br>
              <script src="{{ .Site.BaseURL }}/js/404.js"></script>
            </div>
          </div>
          <div class="col-md-2"></div>
    
          <div class="col-md-12"><br></div>
        </div>
    
        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
      </div>
    </div>
  </div>
