  <div class="container-footer-color">
    <div class="container">
      <div align="center">    
        <div class="row text-light">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <br>
            Some useful links:<br>
            <u><a class="plain-link" href="/sitemap.xml">Site Map</a></u><br>
            <u><a class="plain-link" href="/blogs/index.xml">RSS Feed</a></u><br>            
          </div>
          <div class="col-md-4">
            <br>
            © Copyright 2016 - {{ now.Format "2006" }}<br>
            Proliferous Technology - Jaap de Vos
          </div>
          <div class="col-md-2"></div>

          <div class="col-md-12"><br></div>
          
          <div class="col-md-12">
            <a class="plain-link" href="https://feedly.com/i/subscription/feed/{{ .Site.BaseURL }}/blogs/index.xml"><img src="/img/feedly-follow.png" alt="/img/feedly-follow.png"></a><br>
          </div>
    
          <div class="col-md-12"><br></div>
        </div>
      </div>
    </div>
  </div>
