  <div class="container-header-background">
    <div class="container">
      <div align="center">
        <div class="row text-light">
          <div class="col-md-12"><br></div>

          <div class="col-md-2"></div>
          <div class="col-md-8 outline-text">
            <h1><a class="plain-link" href="/">{{ $.Site.Title }}</a></h1><h2></h2><bdi></bdi>
          </div>
          <div class="col-md-2"></div>
    
          <div class="col-md-2"></div>
          <div class="col-md-8 outline-text">
            <h4>{{ $.Site.Params.subtitle }}</h4>
          </div>
          <div class="col-md-2"></div>
        </div>
    
        <div class="row text-light">
          <div class="col-md-2"></div>
          <div class="col-12 col-sm-8 col-md-5 col-lg-4">
            <br>
            <a href="{{ .Site.BaseURL }}/"><button type="button" class="btn btn-outline-light btn-sm">Home</button></a>
            <div class="btn-group" role="group">
              <div class="dropdown">
                <a href="{{ .Site.BaseURL }}/series/">
                  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle btn-outline-light btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Series
                  </button></a>
                <div class="dropdown-menu dropdown-bg-color" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item dropdown-hover-color" href="{{ .Site.BaseURL }}/series/eve-ng/">Eve-NG</a>
                </div>
              </div>
            </div>
            <a href="{{ .Site.BaseURL }}/about/"><button type="button" class="btn btn-outline-light btn-sm">About</button></a>
            <a href="{{ .Site.BaseURL }}/archive/"><button type="button" class="btn btn-outline-light btn-sm">Archive</button></a>
          </div>
          <div class="col-12 col-sm-4 col-md-5 outline-icon">
            <br>
            <a href="https://github.com/jwdevos/"><i class="fab fa-github-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/jaapdevos/"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://twitter.com/jwdevos"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a href="https://www.facebook.com/labtimeit/"><i class="fab fa-facebook-square fa-2x"></i></a>
          </div>
          <div class="col-md-2"></div>
        </div>
    
        <div class="row text-light">
          <div class="col-md-12"><br></div>
        </div>
      </div>
    </div>
  </div>
